export ENCRYPTION_KEY=...
export DB_HOST=mariadb
export DB_USER=mariadbuser
export DB_PASSWORD=...
export DB_ROOT_PASSWORD=...
export DB_NAME=default
export GPSD_UDEV_KEY=vanpi-gpsd-usb
export ZIGBEE_UDEV_KEY=vanpi-zigbee-usb
export VANPI_API_ROOT_URL=http://127.0.0.1:1880/api/v1
export VANPI_APP_API_ALLOWED_DOMAINS=http://raspberrypi.local:3000,https://app.mydomain.com,http://localhost:3000
export VANPI_APP_API_ENABLE_AUTHENTICATION=false
export VANPI_APP_API_USERNAME=...
export VANPI_APP_API_PASSWORD=...
export HUB_MQTT_TOPIC=vanpi/mqtt_hub
export GPSD_MQTT_TOPIC=vanpi/gps_values
export CLOUDFLARE_AUTH_TOKEN_CLIENT_ID=...
export CLOUDFLARE_AUTH_TOKEN_SECRET=...
export CLOUDFLARE_TUNNEL_TOKEN=...
